doctype html
head
  meta(charset='UTF-8')
  title Result Checker
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  link(rel='icon' type='image/x-icon' href='idea.png')
  link(rel='stylesheet' href='./style.css?v=12345')
// partial:index.partial.html
.app-container
  .sidebar
    .sidebar-header
      .app-icon
        img(src='' alt='')
    .account-info
      .account-info-picture
        img(src='' alt='Account')
      .account-info-name
      button.account-info-more
        svg.feather.feather-more-horizontal(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          circle(cx='12' cy='12' r='1')
          circle(cx='19' cy='12' r='1')
          circle(cx='5' cy='12' r='1')
  .app-content
    .app-content-header
      h1.app-content-headerText Result Sheet
      button.mode-switch(title='Switch Theme')
        svg.moon(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' width='24' height='24' viewbox='0 0 24 24')
          defs
          path(d='M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z')
    a(href='/logout')
      button.app-content-headerButton Logout
    .app-content-actions
      input.search-bar(value='Victor Ojong Tawor (17/EEN/160)' type='text' readonly)
      .app-content-actions-wrapper
        .filter
          a(href='/studentDashboard')
            button.action-button
              span Back
    // tableView
    .products-area-wrapper.tableView
      .products-header
        .product-cell.image
          | Code
          button.sort-button
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 512 512')
              path(fill='currentColor' d='M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z')
        .product-cell.category
          | C.Points
          button.sort-button
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 512 512')
              path(fill='currentColor' d='M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z')
        .product-cell.status-cell
          | Status
          button.sort-button
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 512 512')
              path(fill='currentColor' d='M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z')
        .product-cell.sales
          | C.Units
          button.sort-button
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 512 512')
              path(fill='currentColor' d='M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z')
        .product-cell.stock
          | Score
          button.sort-button
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 512 512')
              path(fill='currentColor' d='M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z')
        .product-cell.price
          | Grade
          button.sort-button
            svg(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 512 512')
              path(fill='currentColor' d='M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z')
      // results display
      each result in sanitizedResults
        .products-row
          button.cell-more-button
            svg.feather.feather-more-vertical(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              circle(cx='12' cy='12' r='1')
              circle(cx='12' cy='5' r='1')
              circle(cx='12' cy='19' r='1')
          .product-cell.image
            p=result.courseCode
          .product-cell.category
            span.cell-label C.Points:
            span.status=result.creditPoints
          .product-cell.status-cell
            span.cell-label Status:
            span.status.active Pass
          .product-cell.sales
            span.cell-label C. Units:
            span.status=result.creditUnit
          .product-cell.stock
            span.cell-label Score:
            span.status=result.score
          .product-cell.price
            span.cell-label Grade:
            span.status=result.grade
        // results display ends
        
