doctype html
head
  meta(charset='UTF-8')
  title Smart Attendance
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
  link(rel='icon' type='image/x-icon' href='idea.png')
  link(rel='stylesheet' href='./style.css')
  // axios cdn script
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js' integrity='sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  style.

    /* Profile Styles */
    .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    }
    .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    }
    .profile h2 {
    margin-top: 0;
    }
    .profile p {
    margin-bottom: 10px;
    }
    .profile .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4643f6;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    }
    .profile .btn:hover {
    background-color: #404bdb;
    }
    .noresult{
     width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    }
    /* Media Queries */
    @media (max-width: 600px) {
    .profile {
    padding: 10px;
    }
    .profile img {
    width: 100px;
    height: 100px;
    }
    }
// partial:index.partial.html
.app-container
  .sidebar
    .sidebar-header
      .app-icon
        img(src='idea.png' alt='logo' width='30')
        // 
    ul.sidebar-list
      li.sidebar-list-item.result-mobile.active#products-area-wrapperNav
        a(href='#')
          svg.feather.feather-home(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z')
            polyline(points='9 22 9 12 15 12 15 22')
          span Dashboard
      li.sidebar-list-item.profile-mobile#profile-containerNav
        a(href='#')
          svg.feather.feather-shopping-bag(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z')
            line(x1='3' y1='6' x2='21' y2='6')
            path(d='M16 10a4 4 0 0 1-8 0')
          span Profile
      li.sidebar-list-item.profile-desktop#messageAdminNav
        a(href='#')
          svg.feather.feather-shopping-bag(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z')
            line(x1='3' y1='6' x2='21' y2='6')
            path(d='M16 10a4 4 0 0 1-8 0')
          span Enquiry
      li.sidebar-list-item.profile-desktop#aboutpageNav
        a(href='#')
          svg.feather.feather-shopping-bag(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z')
            line(x1='3' y1='6' x2='21' y2='6')
            path(d='M16 10a4 4 0 0 1-8 0')
          span About
    .account-info
      .account-info-picture
        img(src='idea.png' alt='Account')
      .account-info-name c 2023
      button.account-info-more
        svg.feather.feather-more-horizontal(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          circle(cx='12' cy='12' r='1')
          circle(cx='19' cy='12' r='1')
          circle(cx='5' cy='12' r='1')
  .app-content
    .app-content-header
      h3.app-content-headerText(style='text-align: center')
        | University Attendance System
      button.mode-switch(title='Switch Theme')
        svg.moon(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' width='24' height='24' viewbox='0 0 24 24')
          defs
          path(d='M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z')
    a(href='/logout')
      button.app-content-headerButton Logout
    .app-content-actions
      input.search-bar(value=`${student.name}, ${student.regno}, CGPA: ${student.cgpa.toFixed(2)}` type='text' readonly='')
      .app-content-actions-wrapper
        // add class here to show menu bar when the screenn is mobile or tablet size change display to block below
        .filter-button-wrapper
          button.action-button.filter.jsFilter
            svg.feather.feather-grid(xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              rect(x='3' y='3' width='7' height='7')
              rect(x='14' y='3' width='7' height='7')
              rect(x='14' y='14' width='7' height='7')
              rect(x='3' y='14' width='7' height='7')
          .filter-menu
            ul.sidebar-list
              li.sidebar-list-item.result-desktop#products-area-wrapperNav
                a(href='#')
                  svg.feather.feather-home(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z')
                    polyline(points='9 22 9 12 15 12 15 22')
                  span Dashboard
              li.sidebar-list-item.profile-desktop.active#profile-containerNav
                a(href='#')
                  svg.feather.feather-shopping-bag(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z')
                    line(x1='3' y1='6' x2='21' y2='6')
                    path(d='M16 10a4 4 0 0 1-8 0')
                  span Profile
              li.sidebar-list-item.profile-desktop.active#messageAdminNav
                a(href='#')
                  svg.feather.feather-shopping-bag(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z')
                    line(x1='3' y1='6' x2='21' y2='6')
                    path(d='M16 10a4 4 0 0 1-8 0')
                  span Enquiry
              li.sidebar-list-item.profile-desktop.active#aboutpageNav
                a(href='#')
                  svg.feather.feather-shopping-bag(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    path(d='M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z')
                    line(x1='3' y1='6' x2='21' y2='6')
                    path(d='M16 10a4 4 0 0 1-8 0')
                  span About
    // result form gridView
    // tableView
    .products-area-wrapper#products-area-wrapper.gridView
      .products-header
        .product-cell.image CourseCode
        .product-cell.status-cell Grade
        .product-cell.sales Credit Point
        .product-cell.stock Credit Hour
        .product-cell.price Course Tittle
      // row show
      // start of result card Overview
      if(resultSummary.length>0)
        each result in resultSummary
          .products-row
            .product-cell.image
             a(href=`/studentDash?level=${result.level}&semester=${result.semester}`)
              img(src='./typingmen.jpg' alt='product')
              span#lastlinks=result.level
            .product-cell.category
              span.cell-label=`${result.semester} Semester`
            .product-cell.status-cell
              span.cell-label Courses:
              span.status=result.courses
            .product-cell.sales
              span.cell-label Credit Hours:
              span.status=result.creditHourTotal
            .product-cell.stock
              span.cell-label Credit Points:
              span.status=result.creditPointsTotal
            .product-cell.price
              span.cell-label GPA:
              span.status=result.gpa
      // cell for individaual result sheet for
      if(resultSummary.length===0)
        .noresult
            .product-cell.image
              img(src='./silent.png' alt='product' width='500')
              span='NO Class Going on Currently'
      // profile page

    .profile-container#profile-container.container
      .profile
        img(src='./student (1).png' alt='User Profile Image')
        h2=student.name
        p=`Email: ${student.email}`
        p=`Reg No: ${student.regno}`
        p=`Admission Year:  ${student.admissionYear}`
        .form-field
          label.form-label(for='phone')
          input#currentpassword.form-input(type='text' placeholder='Current Password')
        .form-field
          label.form-label(for='name')
          input#newpassword.form-input(type='text' placeholder='New Password')
        .form-field
          label.form-label(for='phone')
          input#regno.form-input(type='text' value=student.regno hidden)
        a.btn.passwordUpdate(href='#') Password Reset

    // profile ends here
    // About starts
    #aboutpage.profile-container.container
      .profile
        img(src='audience.png' alt='User Profile Image')
        h2 Welcome to University Smart Roll Call!
        p
          | At University Smart Roll Call, we revolutionize the traditional attendance tracking process through cutting-edge technology and innovation. Our system streamlines the roll call process, making it more efficient, accurate, and hassle-free for both students and professors.
        p
          | With our state-of-the-art biometric recognition and advanced data analytics, we ensure that attendance is recorded with utmost precision, eliminating any chances of errors or proxy attendance. Our user-friendly interface allows professors to easily access attendance reports and keep track of student engagement effortlessly.
        p
          | Join us in embracing the future of attendance management and take the first step towards a smarter, more connected learning environment. Say goodbye to time-consuming roll calls and hello to University Smart Roll Call – where efficiency meets excellence!
       
    // About ends here
    // message
    #messageAdmin.profile-container.container
      .profile
        p Message
        //- .message-box
        each message in student.messages
         .message-box
          p=`🕔 ${message.time.toDateString()}`
            .message(class=message.flag)= message.message
        div
          .form-field
            label.form-label(for='name')
            textarea#messagevalue.form-input(type='text' value='' focus)
        a.btn.messageSend(href='#') Send
    // profile ends here
// partial
script(src='./script.js')
script(src='./studentDom.js')
